*{
			margin: 0;
			padding: 0;
		}
	/*--Navigation ----*/
		#nav-bar{
			position: sticky;
			top: 0;
			z-index: 10;
		}
		.navbar-brand {
			height: 40px;
			padding-left: 30px;
		}
		.navbar-nav li {
			padding: 0 10px;
		}
		.navbar-nav li a {
			float: right;
			text-align: right;
		}
		#nav-bar ul li a:hover {
			color: #007bff!important;
		}
		.navbar {
			background-color: #fff;
			border-bottom:1px solid gray;
		}
		.navbar-toggler {
			border: none!important;
		}
		.nav-link {
			color: #555!important;
			font-weight: 600;
			font-size: 16px;
		}
		/**********Rojmat***********/
		.container {
			
		}
		h1 {
			background: #efefef;
			border-radius: 18px;
			width: 350px;
			height: 40px;
			margin-left: 150px;
		}
		h1:hover {
			box-shadow: 0 0 15px 5px rgba(0,0,0,0.2);
			cursor: pointer;
			transition: 0.5s;
		}
		.col-md-5 {
			background: #efefef;
			width: 450px;
			height: auto;
			margin-right: 30px;
			margin-left: 10px;
			border-radius: 18px;
		}
		.col-md-5:hover {
			box-shadow: 0 0 15px 5px rgba(0,0,0,0.2);
			cursor: pointer;
			transition: 0.5s;
		}
		.col-md-5 h3 {
			margin-top: 20px;
			font-size: 35px;
			color: #777;
			margin-bottom: 20px;
		}
		#savebtn {
			height: 32px;
			width: 70px;
			font-size: 16px;
			margin-bottom: 9px;
			color: white;
			border-radius: 15px;
		}
		#savebtn:hover {
			background-color: green;
		}
		#addRow {
			height: 32px;
			width: 90px;
			font-size: 16px;
			margin-bottom: 9px;
			color: white;
			border-radius: 15px; 
		}
		#addRow:hover {
			background-color: green;
		}
		#deleteRow {
			height: 32px;
			width: 70px;
			font-size: 16px;
			margin-bottom: 9px;
			color: white;
			border-radius: 15px!important;
		}
		.col-md-6 {
			background: #efefef;
			width: 500px;
			height: auto;
			margin-right: 30px;
			margin-left: 30px;	
			border-radius: 18px;
		}
		#tableid {
			border-radius: 15px;
		}
		.col-md-6:hover {
			box-shadow: 0 0 15px 5px rgba(0,0,0,0.2);
			cursor: pointer;
			transition: 0.5s;
		}
		.col-md-6 h3 {
			margin-top: 20px;
			font-size: 35px;
			color: #777;
		}
		.col-md-6 th {
			font-size: 14px;
			font-family: arial;
			color: #777;
		}
		.form-group label {
			font-size: 14px;
			font-family: arial;
			color: #777;
		}
		.form-group input {
			font-size: 13px;
			color:#777;
			border-radius: 10px !important;
			border: none !important;
		}
		.form-group small {
			font-size: 11px;
			font-weight: bold;
		}
		@media screen and (min-width: 768px) {
		.dropdown:hover .dropdown-menu, .btn-group:hover .dropdown-menu{
			display: block;
		}
		.dropdown-menu{
			margin-top: 0;
			position: relative;
		}
		.dropdown-toggle{
			margin-bottom: 2px;
		}
		.dropdown-toggle::after{
			display: none;
		}
		.navbar .dropdown-toggle, .nav-tabs .dropdown-toggle{
			margin-bottom: 0;
		}
		.dropdown-menu a {
			font-size: 15px;
			font-weight: 16px;
			border: 2px;
			border-radius: 12px;
			align-content: left;
		}
		.col-md-12 {
			background: #efefef;
			margin-top: 35px;
			width: auto;
			height: auto;	
			border-radius: 18px;
		}
		.col-md-12:hover {
			box-shadow: 0 0 15px 5px rgba(0,0,0,0.2);
			cursor: pointer;
			transition: 0.5s;
		}
		.col-md-12 h3 {
			margin-top: 15px;
			margin-bottom: 15px;
			text-align: center;
			font-size: 35px;
			color: #777;
		}
		.col-md-12 th {
			font-size: 14px;
			font-family: arial;
			color: #777;
		}
		.col-md-12 tbody {
			font-size: 15px;
		}
		#tbid_filter input {
			font-size: 13px;
			color:#777;
			height: 25px;
			border-radius: 10px !important;
			border: none !important;
		}
		#tbid_filter label {
			font-size: 15px;
		}